header {
    padding:20px 0px;
    background-color:rgb(34, 35, 36); /*Couleur de fond*/
    text-align:center;/*texte centré*/
  }
main {
    background-color:rgb(34, 35, 36);
    color: white;
    border: solid 2px purple;
    }
blockquote {
        margin: 0;
    }
    blockquote p {
        padding: 15px;
        background:gainsboro;
        border-radius: 5px;
        color: black;
        width: max-content;
        border:1px solid purple;
    }
strong {
        text-shadow:black 0.1em 0.1em 0.05em /* a garder pour les hovers*/
    }
h2 {
        font-size: 18px;
    }
h3 {
        font-size: 15px;
    }
a:hover {
    text-shadow:black 0.1em 0.1em 0.05em
}
.main-title {
    text-decoration: underline solid 2px purple;
}
.menu {
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
.menu-item {
    display: inline;/*Positionnement en ligne*/
    text-transform: capitalize;/*Change la forme du texte,ici des majuscules en début de mot avec l'attribut CAPITALIZE*/
    background: rgba(14, 13, 13, 0.027);/*Couleur de fond*/
    margin-right: 11px;/*Marge exterieure poussée de gauche à droite de 11px*/
    outline: 2px solid purple;/*Contour*/
    color: aliceblue;/*Couleur du texte*/
    font-size: 25px;/*Taille du texte*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*Police d'écriture*/
    width: 325px;/*Largeur du contenu de la zone*/
  }
.align { /*Cette classe sert à aligner les éléments*/
    display: inline;
}
.boxborder {
    border: solid 2px purple;
    width: 360px;
    height: 28px;
}
.block {
    display: block;
    border:solid 3px white;
    width: 225px;
    text-align: center;
    padding-left: 0px;
}
.block-li {
    list-style: none;
    border: purple 2px solid;
    padding-left: 0px;
}
